@import "../base";

.chat-wrapper {
  height: 100vh;
  background-attachment: fixed;
}

.chat-container {
  margin-top: 10px;
  padding: 10px;
}

.messages-container {
  background-color: #f1faee;
  border-radius: $border-radius;
  margin-top: 70px;
  height: 50vh;
  width: 50vw;
  overflow-y:scroll;
  scroll-behavior:smooth;
  scroll-padding-block-end: 10%;
}

.messages {
  padding: 3px;

}


.message-display-right {
  text-align: right;
  padding: 15px 5px;
  display: flex;
  justify-content: flex-end;

}

.message-display-right span {
  color: #85182A
}

.message-display-left {
  text-align: left;
  padding: 15px 5px;
  display: flex;
}

.message-display-left span {
  color: #85182A
}

.my-message,
.other-message {
  padding: 10px 8px;
  color: #f1faee;
}

.my-message {
  border-radius: 50px 50px 0 50px;
  background-color: #1d3557;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
}

.my-message p {
  padding-left: 10px;
}

.other-message {
  text-align: left;
  border-radius: 50px 50px 50px 0;
  background-color: #A8DADC;
}

.chat-controls {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  padding: 5px;
  background-color: #f1faee;
  width: 30vw;
  border-radius: $border-radius;
margin-top: 10px;
}

.message-input {
  width: 60%;
  left: 60px;
}

.send-message-btn {
  color: #f1faee;
  margin-top: 5px !important;
  height: 35px;
  width: 75px;
  border-radius: 15%;
}

.message-username-other {
    color:#85182A;
    position: relative;
    bottom: 20px;
}
