.profile-container {
  margin-right: 125px;
  height: 100vh;
  display: inline-block;
}
.profile-container img {
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.profile-container button {
  display: block;
  margin: auto;
  margin-top: 20px;
  height: 45px;
  width: 150px;
}
.other-flex {
  display: inline-flex;
  align-items: center;
  margin: 10px;
}
.other-flex input {
  margin: 50px;
  height: 45px;
  width: 300px;
}
.other-flex button{
  height: 45px;
  width: 150px;
}
.other-flex p {
  margin: 100px;
}
.interests-flex {
  margin: 30px;
  height: 300px;
  width: 600px;
  background-color: #457B9D;
}
.info-flex {
  height: 300px;
  width: 600px;
  background-color: #457B9D;
}
