.profile-container {
  margin-right: 125px;
  height: 100vh;
  display: inline-block;
}
.profile-container img {
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.profile-container button {
  display: block;
  margin: auto;
  height: 30px;
  width: 100px;
}
.other-flex {
  display: inline-flex;
  align-items: center;
  margin: 10px;
}
.interests-flex {
  margin: 30px;
  height: 300px;
  width: 600px;
  background-color: #457B9D;
}
.interests-flex input {
  height: 30px;
}
.edit-flex {
  height: 300px;
  width: 600px;
  background-color: #457B9D;
}