.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.about-flex {
  margin: 50px;
  padding: 10px;
  display: inline-block;
  background-color: #457B9D;
}
.about-flex button {
  height: 40px;
  width: 150px;
  float: right;
  border-radius: 10px;
}
.about-flex button:hover {
  background-color: #1D3557;
}
.group-event-flex {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.group-flex {
  margin: 50px;
  min-height: 500px;
  max-height: 700px;
  width: 800px;
  background-color: #457B9D;
  display: inline-flex;
  justify-content: center;
}
.event-flex {
  margin: 50px;
  min-height: 500px;
   max-height: 700px;
  width: 800px;
  background-color: #457B9D;
  display: inline-flex;
  justify-content: center;
}