.home-container {
  margin: 10px;
  height: 100vh;
  width: 100vw;
  display: inline-block;
}
.about-flex {
  margin: auto;
  padding: 10px;
  height: 175px;
  width: 80vw;
  background-color: #457B9D;
}
.about-flex button {
  height: 40px;
  width: 150px;
  float: right;
  border-radius: 10px;
}
.about-flex button:hover {
  background-color: #1D3557;
}
.group-event-flex {
  margin: 80px;
  min-height: 500px;
  width: 800px;
  background-color: #457B9D;
  display: inline-flex;
  justify-content: center;
}
